@font-face {
   font-family: 'Prisma';
   font-display: swap;
   src: url('file:///C:/Users/GITA%20ALEKHYA%20PAUL/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-01-04_104732/fonts/Prisma/font.ttf');
}
