@font-face {
   font-family: 'Legend M54';
   font-display: swap;
   src: url('file:///C:/Users/aniru/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-12-29_150359/fonts/Legend%20M54/font.ttf');
}
